<template>
  <div class="aluno-disciplina-component" style="padding: 10px">
    <md-collection>
      <md-collection-header>
        <h4>Aluno Disciplina - ${alunoSelecionado.Nome}</h4>
      </md-collection-header>

      <div if.bind="alunoSelecionado != undefined && alunoDisciplinas.length == 0">
        Nenhum
      </div>
      <div else>
        <md-collection-item repeat.for="disciplina of alunoDisciplinas" class="accent-text">${disciplina.Id} -
          ${disciplina.Nome}</md-collection-item>
      </div>
    </md-collection>
  </div>
</template>
